/* Removendo configuração padrão de todas as tags */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  color: white; /* -> Cor padrão pra fonte da aplicação */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Fonte padrão da aplicação */
}

/* Definindo variáveis */

:root {
  --about-logo-altura: 150px;
  --content-padding-horizontal: 150px;
  --navbar-padding-inferior: 0px;
  --navbar-altura: 80px;
  --curvatura-borda: 8px;
  --espessura-borda: 1px;
  --sites-list-justify-content: space-between;
  --about-content-margin-horizontal: 100px;
  --footer-height: 10vh;
  --recuo-horizontal: 30px; /* Usado na navbar e no footer */
}

/* Uso de media query */

@media (max-width: 820px) {
  :root {
    --navbar-padding-inferior: 30px; /* Melhora a responsividade da navbar */
    --content-padding-horizontal: 50px; /* Melhora a responsividade do content */
    --about-content-margin-horizontal: 20px;
    --footer-height: auto;
  }

  .navbar {
    /* Responsividade da navbar */
    flex-direction: column;
    align-items: center;
  }

  .content .about-content {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
  }

  .footer .footer-redes {
    padding-top: 15px;
  }
}

@media (max-width: 1090px) {
  /* Para centralizar os cards */
  :root {
    --sites-list-justify-content: space-around;
    --about-content-margin-horizontal: 50px;
  }
}

@media (max-width: 350px) {
  /* Responsividade da imagem do dev */
  :root {
    --about-logo-altura: 12vh;
  }
}

/* Navbar */

.navbar {
  background: #7d588d;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: var(--navbar-altura);
  padding-bottom: var(--navbar-padding-inferior);
}

/* Itens à esquerda */

.navbar .navbar-info {
  display: flex;
  align-items: center;
  margin-left: var(--recuo-horizontal);
}

.navbar .navbar-title {
  color: white;
  font-size: 26px;
  min-width: 260px; /* Mantém o título na mesma linha */
}

.navbar .navbar-logo {
  width: auto;
  height: 60px;
}

/* Itens à direita */

.navbar .navbar-list {
  /* ul */
  width: 240px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-right: var(--recuo-horizontal);
}

.navbar .navbar-item {
  font-size: 20px;
  align-content: center;
}

.navbar .navbar-item a {
  text-decoration: none;
  color: white;
}

/* Conteúdo da página */

.content {
  padding-top: calc(
    var(--navbar-altura) + 50px
  ); /* Acrescenta o tamanho da navbar para que o conteúdo não fique cortado*/
  padding-left: var(--content-padding-horizontal);
  padding-right: var(--content-padding-horizontal);
  background-color: #353935;
  height: var(--content-height);
}

.content .description {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.content .description .primary-description {
  font-size: 30px;
  margin-bottom: 16px;
}

.content .description .secondary-description {
  font-size: 16px;
}

.content .section-title {
  color: white;
  margin-bottom: 14px;
}

/* Sites */

.content .sites-content {
  width: 100%;
  margin-top: 26px;
}

.content .sites-content .sites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--sites-list-justify-content);
  list-style-type: none;
  gap: 70px;
  margin-bottom: 30px;
}

/* Estilo do card */

.card {
  max-height: auto;
  max-width: 280px;
  height: auto;
  /* margin-bottom: 10px; */
}

.card .card-content:hover {
  cursor: pointer;
  border-color: rgba(38, 150, 255, 0.603);
}

.card .card-content:hover img {
  border-color: rgba(38, 150, 255, 0.603);
}

.card .card-content {
  border: var(--espessura-borda) solid white;
  border-radius: var(--curvatura-borda);
  width: 100%;
  height: 100%;
}

.card .card-content img {
  border-bottom: var(--espessura-borda) solid white;
  border-top-left-radius: var(--curvatura-borda);
  border-top-right-radius: var(--curvatura-borda);
  width: 100%;
  height: auto;
}

.card .card-content p {
  border-bottom-left-radius: var(--curvatura-borda);
  border-bottom-right-radius: var(--curvatura-borda);
  background-color: #161616;
  color: white;
  min-height: 115px;
  max-height: 115px;
  font-size: 13px;
  text-align: justify;
  overflow: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  padding: 6px 18px;
  line-height: 1.5;
}

.card .card-content p:hover {
  overflow-y: scroll; /* Torna a div scrollable na direção vertical quando o mouse está sobre ela */
}

/* About */

.content .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin: 68px var(--about-content-margin-horizontal);
}

.content .about-content img {
  width: auto;
  height: var(--about-logo-altura);
  border-radius: 50%;
}

.content .about-content p {
  color: white;
  text-align: justify;
}

/* Newsletters */

.newsletter { /* div */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}

.newsletter .newsletter-form { /* form */
  margin: 15px 0px;
}

.newsletter .newsletter-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Footer */

.footer {
  background-color: #7d588d;
  height: var(--footer-height);
  padding: 20px var(--recuo-horizontal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-redes {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style-type: none;
}

.footer .footer-redes i {
  font-size: 25px;
}

.footer .footer-detalhes p {
  padding: 2px 0px;
}
